<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.starksoft.material_activity"
    android:versionCode="2"
    android:versionName="1.0.0.2" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <application
        android:label="@string/app_name">
    </application>

</manifest>
